:root {
  --font: BalooBhaijaan2;
  --main-color: #fff;
  --coffee-color: #3f2701;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 100%;
  height: 100%;
  /* padding: 20px; */
  position: relative;
}

body {
  background: linear-gradient(
    180deg,
    rgba(255, 230, 208, 1) 0%,
    rgba(60, 39, 22, 1) 100%
  );
  font-family: var(--font);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(39, 39, 39);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(148, 120, 29);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(209, 172, 52);
}

/* 
=======================================================================================================

                                            Header

=======================================================================================================
*/

.header {
}

.header__items {
  display: flex;
  flex-direction: column;
}

.header__top {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 50%;
  right: 50%;
  top: 0;
  transform: translate(50%, 0);
  padding: 0 20px;
  background-color: rgba(1, 1, 1, 0);
  /* background-color: #110901; */
}

.header__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 6rem;
}

.header__right {
  /*  Header Right  */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon {
  font-size: 26px;
  color: var(--main-color);
}

.menu_bar_icon-box {
}

.menu_bar_icon {
}

.menu_bar {
  display: none;
}

.menu_bar_item {
}

.shopping-cart-logo-box {
  position: relative;
}

.shopping-cart-logo {
}

.shopping-cart-light {
  height: 8px;
  width: 8px;
  /* background-color: rgb(17, 129, 32); */
  border-radius: 50%;
  top: -3px;
  left: 23px;
  position: absolute;
}

.search-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50px;
  transition: all 0.3s ease-in;
  background-color: rgba(255, 255, 255, 0.129);
  border-radius: 30px;
  z-index: 200;
  position: relative;
}

.search-title {
  color: var(--main-color);
  font-family: var(--font);
  font-size: 18px;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.search-logo {
}

.search-logo {
  position: absolute;
  left: 0;
  margin-left: 1rem;
  color: var(--coffee-color);
  transition: all 0.2s ease;
  display: block;
  transform: scale(0);
}

.search-clear-icon {
  position: absolute;
  right: 0;
  color: var(--coffee-color);
  margin-right: 1rem;
  transition: all 0.2s ease-in;
  display: block;
  transform: scale(0);
}

.search__input {
  display: none;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  text-align: center;
  font-family: var(--font);
  font-size: 18px;
  transition: all 0.3s ease-in;
  background-color: transparent;
}

.header__left {
  /*  Header Left  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__left-logo-box {
  width: 65px;
  height: 65px;
  /* background-color: #fff; */
  border-radius: 50%;
}

.header__left-logo-link {
}

.header__left-logo {
  width: 100%;
  filter: brightness(1000);
}

/* 
=======================================================================================================

                                               Main

=======================================================================================================
*/

.main {
}

.main__bg-box {
  /*  Main BG  */
  width: 100%;
  height: 100%;
}

.main__bg-img {
  width: 100%;
  height: 100%;
}

.opacity-box {
  width: 100%;
  height: 100vh;
  background-color: rgba(24, 23, 23, 0.918);
}

.main-title {
  color: var(--main-color);
  font-family: var(--font);
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-top: 5rem;
  width: 100%;
  position: absolute;
  top: 8rem;
  left: 0;
}

.bubble-tea-box {
  /*  Bubble Tea  */
  z-index: -1;
  height: 150px;
  margin: 0 20px;
  margin-top: 2rem;
  margin-bottom: 6rem;
  border-radius: 10px;
  position: relative;
}

.bubble-tea-pattern {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  border-radius: 10px;
  opacity: 10%;
}

.bubble-tea-background {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: var(--coffee-color);
}

.bubble-tea-text {
  color: var(--main-color);
  font-size: 16px;
}

.bubble-tea-second-text {
  color: var(--main-color);
  font-size: 30px;
  margin-right: 60px;
}

.bubble-tea-pic {
  position: absolute;
  width: 150px;
  left: 0;
  top: -20px;
}

.category-text {
  /*  Category  */
  margin: 2rem 20px;
  font-size: 18px;
  color: var(--coffee-color);
}
.category-icon {
  margin-right: 5px;
  font-size: 12px;
  color: var(--coffee-color);
}

.main__categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  margin: 0 20px;
  overflow-y: hidden;
}

.categories::-webkit-scrollbar {
  display: none;
}

.category {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 92px;
  border-radius: 10px;
  border: 1px solid #351f08;
  box-shadow: 0 0 1px #351f08;
}

.category-img {
  background-color: #c7c7c7;
  width: 90px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.category-title {
  background-color: var(--coffee-color);
  width: 90px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--font);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main__items {
  /*  Items  */
  margin: 0 20px;
  /* padding-top: 2rem; */
}

.items {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1rem;
}

.item-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-img {
  width: 80px;
  height: 80px;
  border-radius: 7px;
}

.item__content {
  font-family: var(--font);
}

.item-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-desc {
  font-size: 14px;
  color: #252525;
}

.item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.item-price {
  font-family: var(--font);
  font-language-override: "ENG";
  font-size: 22px;
  color: var(--coffee-color);
}

.item-btn {
  font-family: var(--font);
  font-size: 16px;
  width: 200px;
  height: 50px;
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 7px;
  color: var(--coffee-color);
  border: 1px solid var(--coffee-color);
  transition: all 0.5s;
}

.item-btn:active {
  background-color: var(--coffee-color);
  color: var(--main-color);
}

.coffee-lines {
  /*  Coffee Lines  */
  width: 100%;
  display: none;
  margin-top: 3rem;
}

.lines {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 20px;
}

.line {
  list-style-type: none;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 150px;
  border-radius: 10px;
  gap: 2px;
}

.line-link {
  width: 100px;
  height: 100%;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  text-decoration: none;
  color: var(--coffee-color);
  font-family: NotoSansArabic_Condensed;
  font-weight: bold;
}

.tea-glasses {
  width: 100%;
  height: 100px;
  display: none;
  margin-top: 1rem;
}

.glasses {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 20px;
}

.glass {
  list-style-type: none;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border-radius: 10px;
}

.glass-img {
  width: 100px;
  height: 100%;
}

.main__line {
  height: 1px;
  background-color: var(--coffee-color);
  border: none;
  margin: 0 20px;
  margin-bottom: 40px;
}

/* 
=======================================================================================================

                                            Footer

=======================================================================================================
*/

.footer {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  border-radius: 50%;
}

.footer__logo {
  width: 100%;
  /* filter: brightness(200); */
}

.footer__connect {
  display: flex;
  width: 100%;
  margin-top: 8rem;
  justify-content: space-evenly;
}

.footer__connect-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.footer__connect-link {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #351f08;
  transition: all 0.5s ease;
}

.footer__connect-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.footer__connect-title {
  color: #8f8f8f;
}

.copy-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font);
  font-size: 14px;
  margin-top: 5rem;
  color: #8f8f8f;
}

.copy-right-text {
}

.dashboard-btn {
  text-decoration: none;
  color: inherit;
}
