@media screen and (min-width: 320px) {
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1023px) {
}

@media screen and (min-width: 1280px) {
  .products-secsion,
  .total-price-box {
    max-width: 1200px;
    margin: 0 auto;
  }
  .total-price-box,
  .order_btn_box {
    margin-top: 2rem;
  }
  .order_btn {
    padding: 10px 30px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1680px) {
}
