:root {
  --font: BalooBhaijaan2;
  --main-color: #fff;
  --coffee-color: #3f2701;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  /* padding: 20px; */
  position: relative;
}

body {
  font-family: var(--font);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
  font-size: 16px;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(39, 39, 39);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(148, 120, 29);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(209, 172, 52);
} */

.container {
  height: 100vh;
  padding: 1rem;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 1rem;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.menu-icon {
  width: 36px !important;
}

.sales {
  background-color: var(--coffee-color);
  box-shadow: 0 0 5px #c2c2c2;
  border-radius: 10px;
  padding: 10px;
}

.sales-icon-box {
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon {
  width: 24px;
}

.sales-volume-wrapper {
  margin-top: 1rem;
  color: var(--main-color);
}

.sales-title {
}

.sales-volume {
  margin-top: 0.5em;
  font-weight: bold;
  font-size: 24px;
}

.chart-box {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px #c2c2c2;
  padding: 10px;
  border-radius: 10px;
}

#myChart {
  font-family: var(--font);
}

.transactions-box {
}

.transactions-title-box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.transactions-icon {
}

.transactions-title {
  font-weight: bold;
}

.transactions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  height: 260px;
  padding: 10px;
  scrollbar-width: none;
}

.transaction {
  background-color: #fff;
  box-shadow: 0 0 2px #c2c2c2;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.transaction-value {
}

.categories-section {
  display: none;
  flex-direction: column;
  gap: 2rem;
}

.search-box {
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--coffee-color);
  padding: 10px;
}

.search-input {
  border: none;
  font-family: var(--font);
  outline: none;
}

.categories-box {
}

.categories-title {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border: 1px solid var(--coffee-color);
  box-shadow: 0 0 2px #3f27015b;
  border-radius: 20px;
  padding: 10px;
  background-color: #3f27011e;
}

.products-section {
  display: none;
}

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 0.5rem 0;
}

.products-header p {
  font-weight: bold;
  font-size: 22px;
}

.back-to-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--coffee-color);
  padding: 2px;
  border-radius: 8px;
}

.back-icon {
  width: 32px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--coffee-color);
  box-shadow: 0 0 2px #3f27015b;
  background-color: #3f27011e;
  padding: 6px;
  border-radius: 12px;
}

.product-img {
  width: 50px;
  border-radius: 10px;
}

.product div {
}

.product-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.product-price {
}

.lines-section {
  display: none;
  justify-content: center;
  align-items: center;
}

.lines {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.line {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--coffee-color);
  box-shadow: 0 0 2px #3f27015b;
  background-color: #3f27011e;
  color: #000;
  height: 45px;
  width: 120px;
  border-radius: 10px;
  gap: 2px;
}

/* .active {
  background-color: #3f2701;
  color: var(--main-color);
} */

.line-link {
  width: 100px;
  height: 100%;
  text-align: center;
  line-height: 45px;
  text-decoration: none;
  color: inherit;
}

.tea-glasses-section {
  display: none;
  justify-content: center;
  align-items: center;
}

.tea-glasses {
  width: 100%;
  height: 100px;
  display: none;
  margin-top: 1rem;
}

.glasses {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 20px;
}

.glass {
  list-style-type: none;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 80px;
  border-radius: 10px;
  border: 1px solid var(--coffee-color);
  box-shadow: 0 0 2px #3f27015b;
}

.glass-img {
  width: 100px;
  height: 100%;
  text-align: center;
  line-height: 60px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 0.5rem;
}

.profile-img-box {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #3f27011e;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-img {
  width: 90%;
  height: 90%;
}

.username {
  margin-top: 1rem;
  font-size: 24px;
  font-weight: bold;
}

.email {
  color: #505050;
}

.edit-profile-btn {
  margin-top: 1rem;
  background-color: #3f27014f;
  color: var(--coffee-color);
  box-shadow: 0 0 3px #0000003f;
  outline: none;
  border: none;
  font-family: var(--font);
  padding: 10px 40px;
  border-radius: 30px;
}

.menu-section {
  width: 50%;
  height: 100%;
  z-index: 50;
  position: absolute;
  top: 0;
  right: -60%;
  box-shadow: 0 0 5px #747474;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.logo {
  width: 100px;
}

.menu {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2rem;
  margin-right: 1rem;
  gap: 1.5rem;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  color: var(--coffee-color);
}

.logout {
  margin-right: 1rem;
  color: var(--coffee-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.popup-section,
.profile-popup-section {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 500px;
  padding: 14px;
  padding-top: 1rem;
  background-color: var(--main-color);
  box-shadow: 0 0 5px #747474;
  border-radius: 20px;
  position: absolute;
  top: 20%;
  right: 50%;
  transform: translate(50%);
  z-index: 50;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  width: 28px;
}

.popup-header-title {
  font-size: 18px;
  font-weight: bold;
}

.popup-main {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-img-box {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.popup-img-box label {
  background-color: gray;
  opacity: 0.6;
  width: 100%;
  padding: 6px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
}

.popup-image {
  width: 100%;
  height: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.input-box {
  width: 100%;
  position: relative;
}

.input-box label,
.textarea-box label {
  position: absolute;
  top: 12px;
  right: 6px;
  background-color: var(--main-color);
  font-size: 14px;
  padding: 2px;
  color: var(--coffee-color);
  transition: 0.2s all ease;
}

.product-title-input,
.product-price-input {
  font-family: var(--font);
  font-size: 16px;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--coffee-color);
}

.textarea-box {
  margin-top: 1rem;
  position: relative;
}

textarea {
  height: 140px;
  resize: none;
}

.product-desc-input {
  font-family: var(--font);
  font-size: 16px;
  width: 100%;
  padding: 10px;
  padding-top: 18px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--coffee-color);
}

.textarea-box:focus-within label,
.textarea-box textarea:not(:placeholder-shown) + label {
  top: -8px;
  right: 8px;
}

.input-box:focus-within label,
.input-box input:not(:placeholder-shown) + label {
  top: -8px;
  right: 8px;
}

.buttons {
  grid-column: 1/3;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-product,
.submit-product,
.submit-profile {
  flex: 1;
  border-radius: 10px;
  border: none;
  padding: 6px;
  font-family: var(--font);
  font-size: 18px;
  color: var(--main-color);
  box-shadow: 0 0 2px #747474;
}

.delete-product {
  background-color: tomato;
}

.submit-product {
  background-color: lightseagreen;
}

.profile-popup-section {
  display: none;
  justify-content: start;
  height: 520px;
}

.profile-popup-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.profile-image-box {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #3f27011e;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

.profile-image-box label {
  background-color: gray;
  opacity: 0.6;
  width: 100%;
  padding: 10px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
}

.profile-image {
  width: 100%;
}

.profile-popup-main .inputs {
  width: 90%;
}

.profile-username-input,
.profile-email-input,
.profile-password-input {
  font-family: var(--font);
  font-size: 16px;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--coffee-color);
  width: 100%;
}

.submit-profile {
  width: 90%;
  margin-top: 1.5rem;
  background-color: lightseagreen;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--coffee-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px rgb(0, 0, 0);
}

th {
  /* font-weight: bold; */
  background-color: #3f2701dc;
  color: var(--main-color);
}

td,
th {
  border: 1px solid var(--coffee-color);
  text-align: start;
  padding: 6px;
}

tr:nth-child(even) {
  background-color: #3f27013f;
}
