:root {
  --font: BalooBhaijaan2;
  --main-color: #fff;
  --coffee-color: #3f2701;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
  font-size: 16px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-img-box {
  width: 100%;
}

.login-img {
  width: 100%;
  height: 100%;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.login-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.login-form div {
  border: 1px solid var(--coffee-color);
  box-shadow: 0 0 2px #3f27015b;
  border-radius: 30px;
  padding: 10px;
  background-color: #3f27011e;
  display: flex;
  width: 80%;
}

.icon {
  width: 30px;
}

.email-input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: var(--font);
}

.password-input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: var(--font);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px inherit inset !important;
  -webkit-box-shadow: 0 0 0 1000px inherit inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.login-btn {
  margin-top: 1rem;
  border: 1px solid var(--coffee-color);
  box-shadow: 0 0 2px #3f27015b;
  border-radius: 30px;
  padding: 10px;
  background-color: var(--main-color);
  color: var(--coffee-color);
  width: 80%;
  text-align: center;
  font-family: var(--font);
  font-weight: bold;
  transition: all 0.2s;
}

.login-btn:hover {
  background-color: var(--coffee-color);
  color: var(--main-color);
}
