@media screen and (min-width: 320px) {
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

@media screen and (min-width: 600px) {
  .login-form div {
    padding: 16px;
    border-radius: 40px;
    margin-bottom: 0.5rem;
  }
  .email-input,
  .password-input {
    font-size: 20px;
  }
  .icon {
    width: 40px;
  }
  .login-btn {
    padding: 12px;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    /* flex-direction: row; */
  }
  .login-title {
    display: none;
  }
  .login-box {
    /* width: 80%; */
  }
  .login-img-box {
    width: 40%;
  }
  .login-img {
    /* width: 100px; */
  }
}

@media screen and (min-width: 1024px) {
  .login-btn {
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) {
  .login-title {
    display: block;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .login-img-box {
    width: 60%;
  }
}

@media screen and (min-width: 1680px) {
}
