@media screen and (min-width: 320px) {
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

@media screen and (min-width: 600px) {
  .header__top {
    height: 10rem;
  }
  .header__right {
    gap: 20px;
  }
  .icon {
    font-size: 40px;
  }
  .search-logo-box {
    margin-top: 5rem;
    height: 70px;
  }
  .search-title,
  .search__input {
    font-size: 24px;
  }
  .header__left-logo-box {
    width: 90px;
    height: 90px;
  }
  .main-title {
    font-size: 50px;
    margin-top: 15rem;
  }
  .bubble-tea-background {
    height: 150px;
  }
  .bubble-tea-box {
    margin-top: 5rem;
  }
  .bubble-tea-pic {
    width: 180px;
    top: -50px;
  }
  .bubble-tea-text {
    font-size: 24px;
  }
  .bubble-tea-second-text {
    font-size: 45px;
    margin-right: 90px;
  }
  .category-text {
    font-size: 26px;
  }
  .category-icon {
    font-size: 18px;
  }
  .main__categories {
    margin-top: 2rem;
  }
  .categories {
    gap: 10px;
  }
  .category {
    height: 190px;
    width: max-content;
  }
  .category-img {
    width: 120px;
    height: 130px;
  }
  .category-title {
    width: 120px;
    font-size: 20px;
  }
  .items {
    gap: 10px;
  }
  .item-img {
    width: 100px;
    height: 100px;
  }
  .item-title {
    font-size: 30px;
  }
  .item-desc {
    font-size: 20px;
  }
  .item-bottom {
    margin-top: 2rem;
  }
  .item-price {
    font-size: 30px;
  }
  .item-btn {
    font-size: 22px;
    width: 240px;
    height: 60px;
  }
  .footer__logo-box {
    width: 70%;
    height: 200px;
  }
  .footer__connect-link {
    height: 100px;
    width: 100px;
  }
  .footer__connect-gif {
    height: 70px;
    width: 70px;
  }
  .footer__connect-title {
    font-size: 18px;
    margin-top: 10px;
  }
  .cart-title {
    font-size: 30px;
  }
  .price-title,
  .total-price {
    font-size: 26px;
  }
  .product-img {
    width: 65px;
    height: 65px;
  }
  .product-title {
    font-size: 20px;
  }
  .product-count {
    gap: 7px;
  }
  .product-count-plus,
  .product-count-number,
  .product-count-minus {
    font-size: 30px;
  }
  .product-price {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .bubble-tea-pic {
    width: 200px;
  }
  .main-title {
    font-size: 80px;
  }
  .coffee-lines {
    margin: 4rem 20px;
  }
  .lines {
    width: 100%;
    gap: 16px;
  }
  .line {
    height: 72px;
    width: 200px;
  }
  .line-link {
    text-align: center;
    line-height: 72px;
    font-weight: bold;
    font-size: 32px;
    width: 100%;
  }
  .category-text {
    font-size: 32px;
  }
  .categories {
    height: 250px;
    /* margin-top: 10rem; */
    /* margin-bottom: 10rem; */
  }
  .category {
    height: 92%;
  }
  .category-img {
    width: 140px;
    height: 140px;
  }
  .category-title {
    width: 140px;
    font-size: 24px;
    height: 88px;
    line-height: 88px;
  }
  .item {
    padding: 24px;
    margin-bottom: 2rem;
  }
  .item__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .item-title {
    font-size: 36px;
  }
  .item-desc {
    font-size: 24px;
  }
  .item-price {
    font-size: 40px;
  }
  .item-btn {
    font-size: 28px;
    width: 280px;
    height: 80px;
  }
  .tea-glasses {
    margin: 4rem 20px;
  }
  .footer__logo-box {
    height: 300px;
  }
  .footer__logo {
    width: 80%;
  }
  .footer__connect-link {
    height: 130px;
    width: 130px;
  }
  .footer__connect-gif {
    height: 85px;
    width: 85px;
  }
  .footer__connect-title {
    font-size: 20px;
    margin-top: 10px;
  }
  .copy-right {
    font-size: 20px;
    margin-top: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .header__top {
    padding-left: 50px;
  }
  .shopping-cart-logo,
  .header__left-logo,
  .cart-close-icon,
  .product-count-plus,
  .product-count-minus,
  .order_btn {
    cursor: pointer;
  }
  .main__bg-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__bg-img {
    width: auto;
  }
  .categories {
    overflow-x: hidden;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .item {
    width: 49%;
  }
  .item-btn {
    cursor: pointer;
  }
  .glass {
    cursor: pointer;
    width: 150px;
    height: 110px;
  }
  .glass-img {
    width: 120px;
  }
  .main__line {
  }
  .footer__logo-box {
    width: 100%;
    margin: 0 auto;
  }
  .footer__logo {
    width: 40%;
  }
  .footer__connect-title {
    font-size: 24px;
  }
  .copy-right {
    font-size: 24px;
  }
  .cancel-order,
  .submit-order {
    cursor: pointer;
  }
  .takeaway-box label,
  .takeaway-checkbox {
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) {
  body {
    /* overflow-x: hidden; */
  }
  /* .header {
    top: 50px;
    padding: 0 50px;
  } */
  .header__right {
    gap: 40px;
  }
  .header__top {
    max-width: 1100px;
  }
  /* .main {
    max-width: 1200px;
  } */
  .categories {
    width: 1200;
  }
  .items {
    max-width: 1200;
  }
  /* .footer {
    max-width: 1100px;
  } */
  .icon {
    font-size: 45px;
  }
  .header__left-logo-box {
    width: 100px;
    height: 100px;
  }
  .category {
    cursor: pointer;
  }
}

@media screen and (min-width: 1680px) {
  .header__top {
    max-width: 1600px;
  }
  .main {
    max-width: 1600px;
    margin: 0 auto;
  }
  .footer {
    max-width: 1600px;
    margin: 0 auto;
  }
}
